@charset "utf-8";



header{
    height: 100px;
}
#logobox img{
    width: 36px;
    height: 36px;
}
#slide{
    width: 100%;
    height: 100vh;
    background-image: url(../img/beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#container{
    width: 100%;
    height: 100%;
    background-image: url(../img/bgimage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}
#conwrap{
    width: 1140px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
}
#container .item1{
    width: 100%;
    height: auto;
}
#container .item1 h3{
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
#container .item1 p{
    text-align: center;
    font-size: 25px;
}
#container .item1 video{
    width: 1200px;
    margin: 20px auto;
    transform: translate(-30px);
}
#container .item2{
    width: 100%;
    margin: 0 auto;
}
#container .item2 h3{
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
#container .item2 .item2_imgbox{
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}
#container .item2 .item2_imgbox img{
    width: 700px;
    height: 330px;
    
}
.skew1{
    transform:skewX(-30deg);   
}
.skew2{
    transform:skewX(-30deg);
}
footer{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}

@media screen and (max-width:500px) {
    header{
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        color: #fff;
        z-index: 10;
    }
    header #logobox{
        display: flex;
        justify-content: space-between;
        background-color: rgba(0,0,0,0.9);
        align-items: center;
        padding: 10px;
    }
    .nav_bar{
        display: none;
    }
    .nav_bar li{
        padding: 15px;
        
    }
    .nav_bar a{
        color:#333;
    }
    #slide{
        position: relative;
    }
    #slide .co1{
        position: absolute;
        top:200px;
        left: 50px;
    }
    #slide .co1 h2{
        font-size: 4vw;
        font-family: 'Macondo', cursive;
        color: #fff;
        

    }
    #slide .co1 p{
        font-size: 6vw;
        font-family: 'Rubik Glitch', cursive;
        color: #fff
    }
}
@media screen and (min-width:501px) {
    header{
        position: absolute;
        width: 100%;
        top:0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0,0,0,0.8);
        z-index: 10;
    }
    #logo{
        color:#fff;
    }
    .menu{
        display:none;
    }
    .nav_bar{
        display: flex;
    }
    .nav_bar li{
        padding: 15px;
    }
    .nav_bar li a{
        color:#fff;
    }
    #slide{
        position: relative;
    }
    #slide .co1{
        position: absolute;
        top:200px;
        left: 50px;
    }
    #slide .co1 h2{
        font-size: 8vw;
        font-family: 'Macondo', cursive;
        color: #fff;
        transform:rotate(-10deg)

    }
    #slide .co1 p{
        font-size: 10vw;
        font-family: 'Rubik Glitch', cursive;
        color: #fff;
        transform:rotate(-13deg)
    }
    #slide .co2{
        position: absolute;
        bottom: 50px;
        left: 50px;
        color: #fff;
        font-weight: 900;
        font-size: 2vw;
    }
    #slide .co2 img{
        width: 24px;
        height: 24px;
    }
    #slide .co3{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.4) 70%,
            rgba(0, 0, 0, 0.7) 80%,
            rgb(0, 0, 0, 1) 100%),
            transparent;
    }

}
