@charset "utf-8";



header{
    height: 100px;
}
#logobox img{
    width: 36px;
    height: 36px;
}
#logo a{
    font-family: "Macondo", cursive;
    font-size: 30px;
    color: #fff;
}
#slide{
    width: 100%;
    height: 100vh;
    background-image: url(../img/beach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#container{
    width: 100%;
    height: 100%;
    background-image: url(../img/bgimage2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 20px 0;
}
#conwrap{
    width: 1140px;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    margin: 0 auto;
}
#container .item1{
    width: 100%;
    height: auto;
}
#container .item1 h3{
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
#container .item1 p{
    text-align: center;
    font-size: 25px;
}
#container .item1 video{
    width: 1200px;
    margin: 20px auto;
    transform: translate(-30px);
}
#container .item2{
    width: 100%;
    margin: 0 auto;
}
#container .item2 h3{
    text-align: center;
    font-size: 70px;
    padding: 20px;
    margin: 30px;
}
#container .item2 .item2_imgbox{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}
.skew1{
    width: 1000px;
    height: 330px;
    transform:skewX(-30deg) translateX(-180px);
    position: relative;
    background-image: url(../img/surf1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.skew1 p{
    position: absolute;
    color:#fff;
    right: 5%;
    opacity:0;
    font-size: 10rem;
    transition: all 0.2s ease-in-out;
    font-family: 'Rubik Glitch', cursive;
}
.skew1:hover > p{
    opacity: .8;
    transition: all 0.2s ease-in-out;
}
.skew1::before{
    content: '';
    position: absolute;
    text-align: right;
    top:0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    padding-top: 100px;
    color: #fff;
}
.skew1:hover:before{
    width: 100%;
}
.skew2{
    width: 1000px;
    height: 330px;
    transform:skewX(-30deg) translateX(180px);
    position: relative;
    background-image: url(../img/yacht1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.skew2 p{
    position: absolute;
    color:#fff;
    left: 30px;
    opacity:0;
    font-size: 10rem;
    transition: all 0.2s ease-in-out;
    font-family: 'Rubik Glitch', cursive;
}
.skew2:hover > p{
    opacity: .8;
    transition: all 0.2s ease-in-out;
}
.skew2::before{
    content: '';
    position: absolute;
    text-align: left;
    font-size: 30px;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    padding-top: 100px;
    color: #fff;
}
.skew2:hover:before{
    width: 100%;
}
#container .item2 .item2_imgbox2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.skew3{
    width: 600px;
    height: 330px;
    position: relative;
    background-image: url(../img/beach1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.skew3 p{
    position: absolute;
    color:#fff;
    top:10%;
    right: 10%;
    opacity:0;
    font-size: 10rem;
    transition: all 0.2s ease-in-out;
    font-weight: 900;
    z-index: 10;
}
.skew3:hover > p{
    opacity: .8;
    transition: all 0.2s ease-in-out;
}
.skew3::before{
    content: '';
    position: absolute;
    top:-140px;
    left: -120px;
    width: 700px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotate(150deg);
    transition: all 0.3s ease-out;
    
}
.skew3::after{
    content: '';
    position: absolute;
    bottom:-154px;
    right: -130px;
    width: 700px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotate(150deg);
    transition: all 0.3s ease-out;
}
.skew3:hover::before{
    height: 100%;
    transition: all 0.3s ease-out;
}
.skew3:hover::after{
    height: 100%;
    transition: all 0.3s ease-out;
}
.skew4{
    width: 600px;
    height: 330px;
    position: relative;
    background-image: url(../img/resort.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.skew4 p{
    position: absolute;
    color:#fff;
    top:14%;
    left: 10%;
    opacity:0;
    font-size: 9rem;
    transition: all 0.2s ease-in-out;
    font-weight: 900;
    z-index: 10;
}
.skew4:hover > p{
    opacity: .8;
    transition: all 0.2s ease-in-out;
}
.skew4::before{
    content: '';
    position: absolute;
    top:-140px;
    left: -120px;
    width: 700px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotate(150deg);
    transition: all 0.3s ease-out;
    
}
.skew4::after{
    content: '';
    position: absolute;
    bottom:-154px;
    right: -130px;
    width: 700px;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transform: rotate(150deg);
    transition: all 0.3s ease-out;
}
.skew4:hover::before{
    height: 100%;
    transition: all 0.3s ease-out;
}
.skew4:hover::after{
    height: 100%;
    transition: all 0.3s ease-out;
}
footer{
    width: 100%;
    height: 100px;
    background-color: aliceblue;
}

@media screen and (max-width:599px) {
    header{
        width: 100%;
        position: absolute;
        top:0;
        left: 0;
        color: #fff;
        z-index: 10;
    }
    header #logobox{
        display: flex;
        justify-content: space-between;
        background-color: rgba(0,0,0,0.9);
        align-items: center;
        padding: 10px;
    }
    .nav_bar{
        display: none;
    }
    .nav_bar li{
        padding: 15px;
        
    }
    .nav_bar a{
        color:#333;
    }
    #slide{
        position: relative;
    }
    #slide .co1{
        position: absolute;
        top:200px;
        left: 50px;
    }
    #slide .co1 h2{
        font-size: 4vw;
        font-family: 'Macondo', cursive;
        color: #fff;
        

    }
    #slide .co1 p{
        font-size: 6vw;
        font-family: 'Rubik Glitch', cursive;
        color: #fff
    }
}
@media screen and (min-width:600px) {
    header{
        position: absolute;
        width: 100%;
        top:0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0,0,0,0.8);
        z-index: 10;
    }
    #logo{
        color:#fff;
    }
    .menu{
        display:none;
    }
    .nav_bar{
        display: flex;
    }
    .nav_bar li{
        padding: 15px;
    }
    .nav_bar li a{
        color:#fff;
    }
    #slide{
        position: relative;
    }
    #slide .co1{
        position: absolute;
        top:200px;
        left: 50px;
    }
    #slide .co1 h2{
        font-size: 8vw;
        font-family: 'Macondo', cursive;
        color: #fff;
        transform:rotate(-10deg)

    }
    #slide .co1 p{
        font-size: 10vw;
        font-family: 'Rubik Glitch', cursive;
        color: #fff;
        transform:rotate(-13deg)
    }
    #slide .co2{
        position: absolute;
        bottom: 50px;
        left: 50px;
        color: #fff;
        font-weight: 900;
        font-size: 2vw;
    }
    #slide .co2 img{
        width: 24px;
        height: 24px;
    }
    #slide .co3{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.4) 70%,
            rgba(0, 0, 0, 0.7) 80%,
            rgb(0, 0, 0, 1) 100%),
            transparent;
    }
    .about{
        margin: 40px auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
    .about > div{
        width: 80%;
    }
    .about img{
        width: 100%;
        height: auto;
        border-radius: 10px;
        background-clip: border-box;
        border: 5px solid #333;
    }
    .about .abouttext .textwrap{
        position: sticky;
        top:0;
    }
    .about .abouttext h3{
        padding: 20px 0;
        font-size:40px;
    }
    .about .abouttext p{
        font-size: 20px;
        padding: 10px;
        line-height: 40px;
    }
    .about .abouttext button{
        width: 100px;
        height: 40px;
        border: none;
        color:#fff;
        background-color: #e68405;
        border-radius: 8px;
    }
    .about .abouttext button:hover{
        opacity: 0.8;
    }
    .maps{
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    .maps h3{
        margin: 40px auto;
        font-size: 70px;
    }
    .maps img{
        width: auto;
        height: 100%;
    }
    .maps .mapsicon{
        width: 80%;
        height: 300px;
        margin: 0 auto;
        background-color: #fff;
    }
}
