@charset "utf-8";

body{
    overflow-x: hidden;
}
#container{
    width: 100%;
    height: 100%;
    background-color: #222;
    background-position: center;
    background-size: cover;
    transition: all 0.1s ease;
    background-attachment: fixed;
}
.animate{
    position: relative;
    height: 1000px;
    /* background-color: #222; */
    
}
.surfer{
    position: absolute;
    width: 100%;
    height: 500px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s ease;
}
.path1{
    fill:transparent;
    stroke-width: 10;
    stroke: #e68405;
    stroke-dasharray: 59612;
    stroke-dashoffset: 0;
    animation: suffer 5s linear 1 forwards;
}
@keyframes suffer {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 59612;
    }
    80%{
        stroke-dashoffset: 119224;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 119224;
        fill: #e68405;
    }
}

.booking{
    position: absolute;
    top:400px;
    right: 100px;
    color:#fff;
    width: 500px;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 25px;
    font-size: 22px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}
.booking label{
    display: block;
    margin: 20px 0;
    text-align: left;
}
.booking input{
    padding: 3px;
    border-radius: 4px;
}
.booking .names{
    display: flex;
    flex-wrap: nowrap;
}
#send{
    width: 100px;
    padding: 15px;
}

#slide_wrap{
    width: 100%;
    height: 600px;
    margin: 0px auto;
}
.slide_inner{
    width: 650px;
    height: 450px;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0px auto;
    overflow: hidden;
}
.slide_inner .slide{
    position: absolute;
    left: 0;
    top:0;
    width: 2600px;
}
#secondbox{
    display: none;
}
.slide_inner .slide li{
    width: 600px;
    height: 450px;
    float: left;
}
.slide_inner .slide li:first-child{
    margin-left:  25px;
}
.slide_inner .slide li:not(:last-child){
    margin-right: 50px;
}
.slide_inner .slide li img{
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
}
.btn_control span{
    position: absolute;
    display: block;
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    border-radius: 25%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    transition: all 0.2s linear;
    cursor: pointer;
    top:50%;
    user-select: none;
}
.btn_control span:hover{
    color:#fff;  
    background-color: black;
}
.btn_control #prev{
    left: 0px;
}
.btn_control #prev:hover{
    transform: translate(-10px);
}
.btn_control #next{
    right: 0px;
}
.btn_control #next:hover{
    transform: translate(10px);
}