@charset "utf-8";

body{
    overflow-x: hidden;
}
#container{
    width: 100%;
    height: 100%;
    background-color: #222;
    background-image: url(../img/activity/sub_bg.jpg);
    background-position: center;
    background-size: cover;
    transition: all 0.1s ease;
    background-attachment: fixed;
}
.animate{
    position: relative;
    height: 1000px;
    background-color: #222;
    transition: background-color 0.6s;
}
.surfer{
    position: absolute;
    width: 100%;
    height: 500px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s ease;
}
.path1{
    fill:transparent;
    stroke-width: 10;
    stroke: #e68405;
    stroke-dasharray: 59612;
    stroke-dashoffset: 0;
    animation: surffer 5s linear 1 forwards;
}
@keyframes surffer {
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 59612;
    }
    80%{
        stroke-dashoffset: 119224;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 119224;
        fill: #e68405;
    }
}

.booking{
    position: absolute;
    top:400px;
    right: 100px;
    color:#fff;
    width: 500px;
    height: 500px;
    border: 2px solid #fff;
    border-radius: 8px;
    padding: 25px;
    font-size: 22px;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    transition: all 1s ease;
}
.booking label{
    display: block;
    margin: 20px 0;
    text-align: left;
}
.booking input{
    padding: 3px;
    border-radius: 4px;
}
.booking .names{
    display: flex;
    flex-wrap: nowrap;
}
#send{
    width: 100px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #333;
}
#send:hover{
    box-shadow: none;
    transform: translate(2px,2px);
}
#secondbox h3{
    text-align: center;
    color: #fff;
    font-size: 4rem;
    margin: 4rem;
}
#section1{
    position: relative;
    width: 1140px;
    height: 100%;
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(255,255,255,0.5);
}
#section1 svg{
    width: 100%;
    height: 100%;
}
#section1 .path2{
    fill: none;
    stroke: #000;
}
#section1 .text_container{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.text_container .textbox{
    position: absolute;
    width: 450px;
}
.text_container .textbox h4{
    font-size: 3rem;
    white-space: nowrap;
}
.text_container .textbox p{
    font-size: 2rem;
    margin-top: 10px;
}
.txt1{top:400px;left: 100px; text-align: right;}
.txt2{top:900px;right: 100px; text-align: left;}
#boys{font-weight: 550;border-bottom: 1px solid #ddd;}
.txt3{top:1300px;left: 100px; text-align: right;}
.txt3 a{
    text-decoration: underline;
    color:blue;
}
.txt4{top:2000px;right: 100px; text-align: left;}
#section2{
    width: 100%;
    height: 600px;
    margin: 0px auto;
}
.slide_inner{
    width: 650px;
    height: 450px;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0px auto;
    overflow: hidden;
}
.slide_inner .slide{
    position: absolute;
    left: 0;
    top:0;
    width: 2600px;
}
#secondbox{
    display: none;
}
.slide_inner .slide li{
    width: 600px;
    height: 450px;
    float: left;
}
.slide_inner .slide li:first-child{
    margin-left:  25px;
}
.slide_inner .slide li:not(:last-child){
    margin-right: 50px;
}
.slide_inner .slide li img{
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
}
.btn_control span{
    position: absolute;
    display: block;
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    border-radius: 25%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    transition: all 0.2s linear;
    cursor: pointer;
    top:50%;
    user-select: none;
}
.btn_control span:hover{
    color:#fff;  
    background-color: black;
}
.btn_control #prev{
    left: 0px;
}
.btn_control #prev:hover{
    transform: translate(-10px);
}
.btn_control #next{
    right: 0px;
}
.btn_control #next:hover{
    transform: translate(10px);
}
.profile{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
.profile .flipCard{
    width: 250px;
    height: 400px;
    background-color: transparent;
    perspective: 1000px;
}
.profile .flipCard .flipCard_inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flipCard:hover .flipCard_inner{
    transform: rotateY(180deg);
}
.flipCard_front, .flipCard_back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flipCard_front{
    background-color: #bbb;
    color:#000;
}
.flipCard_back{
    background-color: #f0ffff;
    color:#333;
    transform: rotateY(180deg);
}
.flipCard_back p{
    margin:5px 0;
}
.flipCard_back span{
    font-size: 20px;
}
.profile .flipCard_front img{
    width: 100%;
    height: 400px;
}
.other{
    width: 100%;
    height: 600px;
    display: flex;
}
.other1, .other2{
    width: 100%;
    height: 100%;
    border:1px solid #fff;
}
.other1{
    background-image: url(../img/yacht1.jpg);
    background-position: center;
    background-size: cover;
}
.other2{
    background-image: url(../img/activity/snokel.jpg);
    background-position: center;
    background-size: cover;
}
.otherbox{
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.5);
}
.otherbox h4{
    font-size: 5rem;
    color: #fff;
    padding: 20px;
}