@charset "utf-8";

body{
    overflow-x: hidden;
}
#slide{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/resort/east.jpg);
    background-size: cover;
    background-position: 50% 50%;
}
#slide .gradi{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.4) 70%,
            rgba(0, 0, 0, 0.7) 80%,
            rgb(0, 0, 0, 1) 100%),
            transparent;
}
#slide .resort_btn{
    position: absolute;
    right: 10%;
    bottom: 10%;
}
#slide .resort_btn a{
    font-size: 4rem;
    color:#fff;
    margin: 10px;
}
#slide .resort_btn div{
    position: relative;
    padding: 10px;
}
#slide .resort_btn a div::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: 3px solid #e68405;
    transition: all 1s ease;
}
#slide .resort_btn a div:hover::after{
    width: 100%;
}
@media screen and (max-width:600px) {
    #container{
        width: 100%;
        height: 100%;
        background-color: #f9f8ed;
        padding-top: 20px;
    }
  
    .east_wrap > h2{
        font-size: 4rem;
        text-align: center;
    }
    .east_wrap .rooms{
        width: 100%;
        margin: 40px auto;
    }
    .east_wrap .rooms h3{
        font-size: 2rem;
        margin: 20px 0;
        text-align: center;
    }
    .east_wrap .rooms .rooms_x{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rooms_delux, .rooms_suite{
        width: 100%;
        height: 600px;
        box-shadow: 0 0 2px #666;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .rooms_delux div, .rooms_suite div{
        width: 100%;
        height: 400px;
        background-color: rgba(255,255,255,0.7);
        transition: all 0.5s linear;
    }
    .rooms_x h4{
        font-size: 30px;
        padding: 15px;
    }
    .rooms_x p, .rooms_x span{
        font-size: 20px;
        padding: 15px;
        color:#999999;
    }
    .rooms_x a{
        display: block;
        padding: 15px;
        background-color: #e68405;
        color: #fff;
        width: 100px;
        margin: 15px;
        border-radius: 8px;
        text-align: center;
    }
    .east_wrap .rooms_x img{
        width: 100%;
        height: 400px;
        opacity: 0.8;
        transition: all 0.5s linear;
    }
    .rooms .room_service{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .rooms .room_service h4{
        font-size: 25px;
        margin: 40px;
    }
    .rooms .room_service ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rooms .room_service ul li{
        margin: 20px;
        width: 20%;
    }
    .rooms .room_service ul li span{
        display: block;
    }
    .rooms .room_service img{
        width: 64px;
        height: 64px
    }
    .resort_content{
        width: 100%;
        margin: 60px auto;
        font-family: 'Merriweather', serif;
    }
    .resort_content h2{
        font-size: 2.5rem;
    }
    .resort_content .restau{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .restau img{
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .restau .restau_text{
        width: 380px;
        height: 300px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        bottom: -15%;
        left: 0;
        box-shadow: -2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .restau .restau_text h4{
        font-size: 30px;
        font-weight: 400;
    }
    .resort_content .infinity{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .infinity img{
        position: absolute;
        right: 0px;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .infinity .infinity_text{
        width: 380px;
        height: 200px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        bottom: -15%;
        left: 0;
        box-shadow: 2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .infinity .infinity_text h4{
        font-size: 30px;
        font-weight: 400;
    }
    .resort_content .lounge{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .lounge img{
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .lounge .lounge_text{
        width: 380px;
        height: 300px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        bottom: -15%;
        left: 0;
        box-shadow: -2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .lounge .lounge_text h4{
        font-size: 30px;
        font-weight: 400;
    }
   
    .resort_content div p{
        margin: 20px 0;
        font-size: 20px;
    }
    .count{
        width: 100%;
        height: 200px;
        background-color: #333;
    }
    .count ul{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .count ul li{
        width: 50%;
    }
    .count p{
        color:#c5a880;
        font-size: 35px;
    }
    .count span{
        color: #ddd;
    }
    .gallery{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .gallery h4 img{
        vertical-align: bottom;
    }
    .gallery h4{
        font-size: 40px;
        margin: 40px 0;
    }
    .slide_wrap{
        width: 100%;
        margin: 0px auto;
        height: 300px;
        padding: 20px 0;
        overflow: hidden;
    }
    .slides{
        position: relative;
        width: 1200px;
        height: 300px;
        overflow: hidden;
        display: flex;
        margin: 0 auto;
    }
    .slides a{
        position: absolute;
        width: 300px;
        height: 100%;
        margin: 0 5px;
    }
    .slides a img{
        width: 100%;
        height: 100%;
    }
    .fadein{
        opacity: 0;
        margin-top: 300px;
    }
}
/* =================================================== */
@media (min-width:601px) and (max-width:1259px) {
    #container{
        width: 100%;
        height: 100%;
        background-color: #f9f8ed;
    }
    .east_wrap{
        padding: 20px;
    }
    .east_wrap > h2{
        font-size: 3.5rem;
    }
    .east_wrap .rooms{
        width: 100%;
        margin: 40px auto;
    }
    .east_wrap .rooms h3{
        font-size: 3rem;
        margin: 20px 0;
        text-align: center;
    }
    .east_wrap .rooms .rooms_x{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .rooms_delux, .rooms_suite{
        width: 100%;
        height: 100%;
        box-shadow: 0 0 2px #666;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    .rooms_delux div, .rooms_suite div{
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.7);
        transition: all 0.5s linear;
    }
    .rooms_x h4{
        font-size: 30px;
        padding: 15px;
    }
    .rooms_x p, .rooms_x span{
        font-size: 20px;
        padding: 15px;
        color:#999999;
    }
    .rooms_x a{
        display: block;
        padding: 15px;
        background-color: #e68405;
        color: #fff;
        width: 100px;
        margin: 15px;
        border-radius: 8px;
        text-align: center;
    }
    .east_wrap .rooms_x img{
        width: 100%;
        height: 400px;
        opacity: 0.8;
        transition: all 0.5s linear;
    }
    .rooms .room_service{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .rooms .room_service h4{
        font-size: 25px;
        margin: 40px;
    }
    .rooms .room_service ul{
        display: flex;
        justify-content: center;
    }
    .rooms .room_service ul li{
        margin: 0 20px;
        width: 100%;
    }
    .rooms .room_service ul li span{
        display: block;
    }
    .rooms .room_service img{
        width: 64px;
        height: 64px
    }
    .resort_content{
        width: 90%;
        margin: 60px auto;
        font-family: 'Merriweather', serif;
    }
    .resort_content h2{
        font-size: 4rem;
    }
    .resort_content .restau{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .restau img{
        position: absolute;
        left: 5%;
        width: 600px;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .restau .restau_text{
        width: 400px;
        height: 300px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        bottom: -15%;
        left:40%;
        box-shadow: -2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .restau .restau_text h4{
        font-size: 30px;
        font-weight: 400;
    }
    .resort_content .infinity{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .infinity img{
        position: absolute;
        right: 5%;
        width: 600px;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .infinity .infinity_text{
        width: 400px;
        height: 300px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        bottom: -15%;
        left:100px;
        box-shadow: 2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .infinity .infinity_text h4{
        font-size: 30px;
        font-weight: 400;
    }
    .resort_content .lounge{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .lounge img{
        position: absolute;
        left: 5%;
        width: 600px;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .lounge .lounge_text{
        width: 400px;
        height: 300px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        bottom: -15%;
        left: 40%;
        box-shadow: -2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .lounge .lounge_text h4{
        font-size: 30px;
        font-weight: 400;
    }
    .resort_content div p{
        margin: 20px 0;
        font-size: 20px;
    }
    .count{
        width: 100%;
        height: 150px;
        background-color: #333;
    }
    .count ul{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .count p{
        color:#c5a880;
        font-size: 35px;
    }
    .count span{
        color: #ddd;
    }
    .gallery{
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    .gallery h4 img{
        vertical-align: bottom;
    }
    .gallery h4{
        font-size: 40px;
        margin: 40px 0;
    }
    .slide_wrap{
        width: 100%;
        margin: 0px auto;
        height: 300px;
        padding: 20px 0;
    }
    .slides{
        position: relative;
        width: 1200px;
        height: 300px;
        overflow: hidden;
        display: flex;
        margin: 0 auto;
    }
    .slides a{
        position: absolute;
        width: 300px;
        height: 100%;
        margin: 0 5px;
    }
    .slides a img{
        width: 100%;
        height: 100%;
    }
    .fadein{
        opacity: 0;
        margin-top: 300px;
    }
}
/* ==================================================== */
@media screen and (min-width: 1260px) {
    #container{
        width: 100%;
        height: 100%;
        background-color: #f9f8ed;
    }
    .east_wrap{
        padding: 20px;
    }
    .east_wrap > h2{
        font-size: 6vw;
    }
    .east_wrap .rooms{
        width: 90%;
        margin: 40px auto;
    }
    .east_wrap .rooms h3{
        font-size: 3vw;
        margin: 20px 0;
        text-align: center;
    }
    .east_wrap .rooms .rooms_x{
        display: flex;
        justify-content: space-around;
    }
    .rooms_delux, .rooms_suite{
        width: 400px;
        height: 600px;
        box-shadow: 0 0 2px #666;
        display: flex;
        flex-direction: column;
    }
    .rooms_delux div, .rooms_suite div{
        width: 400px;
        height: 400px;
        background-color: rgba(255,255,255,0.7);
        transition: all 0.5s linear;
    }
    .rooms_x h4{
        font-size: 30px;
        padding: 15px;
    }
    .rooms_x p, .rooms_x span{
        font-size: 20px;
        padding: 15px;
        color:#999999;
    }
    .rooms_x a{
        display: block;
        padding: 15px;
        background-color: #e68405;
        color: #fff;
        width: 100px;
        margin: 15px;
        border-radius: 8px;
        text-align: center;
    }
    .east_wrap .rooms_x img{
        width: 100%;
        height: 400px;
        opacity: 0.8;
        transition: all 0.5s linear;
    }
    .rooms .room_service{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .rooms .room_service h4{
        font-size: 25px;
        margin: 40px;
    }
    .rooms .room_service ul{
        display: flex;
        justify-content: center;
    }
    .rooms .room_service ul li{
        margin: 0 20px;
        width: 100%;
    }
    .rooms .room_service ul li span{
        display: block;
    }
    .rooms .room_service img{
        width: 64px;
        height: 64px
    }
    .resort_content{
        width: 1140px;
        margin: 60px auto;
        font-family: 'Merriweather', serif;
    }
    .resort_content h2{
        font-size: 4vw;
    }
    .resort_content .restau{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .restau img{
        position: absolute;
        left: 50px;
        width: 600px;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .restau .restau_text{
        width: 400px;
        height: 300px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        top: 50px;
        right: 150px;
        box-shadow: -2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .restau .restau_text h4{
        font-size: 30px;
        font-weight: 400;
    }
    .resort_content .infinity{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .infinity img{
        position: absolute;
        right: 100px;
        width: 600px;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .infinity .infinity_text{
        width: 400px;
        height: 300px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        top: 50px;
        left: 100px;
        box-shadow: 2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .infinity .infinity_text h4{
        font-size: 30px;
        font-weight: 400;
    }
    .resort_content .lounge{
        width: 100%;
        height: 500px;
        position: relative;
    }
    .resort_content .lounge img{
        position: absolute;
        left: 50px;
        width: 600px;
        height: 100%;
        border-radius: 4px;
    }
    .resort_content .lounge .lounge_text{
        width: 400px;
        height: 300px;
        background-color: rgba(255,255,255,1);
        position: absolute;
        top: 50px;
        right: 150px;
        box-shadow: -2px 2px 3px #333;
        border-radius: 4px;
        padding: 50px;
        box-sizing: border-box;
    }
    .resort_content .lounge .lounge_text h4{
        font-size: 30px;
        font-weight: 400;
    }
    .resort_content div p{
        margin: 20px 0;
        font-size: 20px;
    }
    .count{
        width: 100%;
        height: 150px;
        background-color: #333;
    }
    .count ul{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .count p{
        color:#c5a880;
        font-size: 35px;
    }
    .count span{
        color: #ddd;
    }
    .gallery{
        width: 1000px;
        text-align: center;
        margin: 0 auto;
    }
    .gallery h4 img{
        vertical-align: bottom;
    }
    .gallery h4{
        font-size: 40px;
        margin: 40px 0;
    }
    .slide_wrap{
        width: 100%;
        margin: 0px auto;
        height: 300px;
        padding: 20px 0;
    }
    .slides{
        position: relative;
        width: 1200px;
        height: 300px;
        overflow: hidden;
        display: flex;
        margin: 0 auto;
    }
    .slides a{
        position: absolute;
        width: 300px;
        height: 100%;
        margin: 0 5px;
    }
    .slides a img{
        width: 100%;
        height: 100%;
    }
    .fadein{
        opacity: 0;
        margin-top: 300px;
    }
}
